* {
  marging: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Nunito sans";
  color: white;
  background: linear-gradient(
    200.42deg,
    #fc594f 13.57%,
    rgba(73, 30, 184, 0.76) 98.35%
  );
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 300px;
  margin: 5px auto;
  padding: 5px 5px;
  background: linear-gradient(180deg, #242452 0%, #4926ad 100%);
  border-radius: 15px;
}
.title {
  margin: 5px 0;
  text-align: center;
  font-size: 30px;
}

.search {
  text-align: center;
  margin-top: 2px;
  margin-bottom: 5px;
}

.search input[type="text"] {
  border: 2px solid #eee;
  border-radius: 3px;
  outline: none;
  margin-bottom: 5px;
}

.card {
  margin: 5px auto;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.d-none {
  display: none;
}

img.time {
  width: 300px;
}

.weather-icon {
  width: 100px;
  height: 100px;
  background-color: #eee;
  border-radius: 50%;
  position: absolute;
  top: 55%;
}
.weather-icon img {
  width: 100px;
  height: 100px;
}

.details {
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.city-name {
  margin: 2px 0;
}
.temp {
  font-size: 2rem;
}
